* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-items {
  margin: 10px 0px;
  padding: 2px;
  border: 1px solid #ccc;
}

.title {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  padding: 20px 0;
  background-color: #f4f4f4;
}

.main {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: #FF4500;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main button {
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(191, 191, 218);
  cursor: pointer;
}

.main input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.main select {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}